/*
Colores utilizados: 
#012030
#13678A
#45C4B0
#9AEBA3
#DAFDBA
*/

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Oxygen Mono', monospace;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.principal-header {
  display: flex;
  background-color: #012030;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title-header {
  color: #DAFDBA;
}

.card {
  width: 18rem;
  color: #012030;
  background-color: #9AEBA3;
}

.images-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  background-color: #13678A;
  min-height: 63vh;
}

footer {
  margin-top: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #45C4B0;

}

.footer-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  background-color: #45C4B0;
}

@media(min-width:800px) {

  .images-container {
    padding-top: 2rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: #13678A;
    min-height: 63vh;
  }
}